
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata


.DS_Store
Thumbs.db
*.log


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


/vendor/
.bundle/
Gemfile.lock


.vscode/
.idea/


*.swp
*~
